/* Alumno:Parroquin Diaz Dianne */
body{
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px auto;
    max-width: 723px;
}
.header{
    background: rgb(0, 0, 0);
    padding: 10px;
    color: rgb(255, 251, 255);
    display: flex;
}

.header article{
    width: 48%;
    display: inline-block;
}
.header img{
    width: 40px;
    vertical-align: middle;
}
.headerart02{
    text-align: right;
}
.headerart02 input{
    margin-top: 5px;
    margin-right: 5px;
}
.btnsubmit{
    background: rgb(25, 27, 29);
    border-radius: 5px;
    border: 0.5px solid rgb(253, 253, 253);
    padding: 5px 10px;
    color: rgb(255, 251, 255);
}
.btnsign{
    background: rgb(74, 95, 212);
    border-radius: 5px;
    padding: 5px 15px;
    color: rgb(255, 251, 255);
    border: 0px;


}
.seccion01{
    margin: 0px;
    background: rgb(218, 219, 241);
    padding: 40px;
    text-align: center;
}
.seccion01 span{
    margin: 0px;
    font-size: 2em;
}
.seccion01 input{
    border: none;
    width: 45%;
    padding: 6px;
    margin: 10px 0px;
    border-radius: 2px;
}
#txtsearch{
    padding: 8px;
    border-left: 0.4px solid black;
    border-top: 0.4px solid black;
    border-bottom: 0.4px solid black;
}
#btnsearch{
    width: 6%;
    padding: 8px;
    background: rgb(255, 251, 255);
    border: 0px;
    border-right: 0.4px solid black;
    border-top: 0.4px solid black;
    border-bottom: 0.4px solid black;
    margin-left: -16px;
}
.seccion02{
    font-size: 0.8em;
    padding: 40px;
    display: grid;
    gap: 40px 30px;
    grid-template:
    "branches account"
    "projects billing"
    "auth abstract";
}
.seccion02 article article span{
    font-weight: bold;
}
.seccion02 img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.branches{
    grid-area: branches;
    display: inline-flex;
}
.account{
    grid-area: account;
    display: inline-flex;
}
.projects{
    grid-area: projects;
    display: inline-flex;
}
.billing{
    grid-area: billing;
    display: inline-flex;
}
.auth{
    grid-area: auth;
    display: inline-flex;
}
.abstract{
    grid-area: abstract;
    display: inline-flex;
}
.seccion02 input{
    color: rgb(112, 92, 215);
    background: none;
    border: 0px;
}
.footer{
    padding: 30px 40px;
    background: rgb(0, 0, 0);
    color: rgb(255, 251, 255);
    font-size: 0.6em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    line-height: 1.5;
}
.footer article ul li{
    list-style-type: none;
    margin-left: -40px;
}
.footer img{
    align-self: end;
    width: 30px;
    
}
.footer article span{
    font-size: 1.2em;
    font-weight: bolde;
}
.footer article ul li{
    list-style-type: none;
    margin-left: -40px;
}
.footer article:last-of-type {
    padding-top: 10px;
    font-size: 0.85em;
    grid-column: 5/6;
    grid-row: 2/3;
}

